﻿@model Catumblr.Models.ViewModels.StatisticViewModel
<div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <text id="likeCountStatistic">@Model.LikeCount likes,</text>
        <text id="commentCountStatistic">@Model.CommentCount comments &nbsp &nbsp</text>
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        @foreach (var post in Model.Posts)
        {
            <li><a asp-action="GetPost" asp-controller="Post" asp-route-id="@post.Id">@post.Title</a></li>
        }
    </ul>
</div>

<script src="~/js/statistic.js"></script>