﻿@using Microsoft.AspNetCore.Mvc.Localization
@model Catumblr.Models.ViewModels.PostsViewModel
@{
    ViewBag.Title = "Home Page";
}
@inject IViewLocalizer Localizer
<div class="col-md-offset-2 col-md-8">
    <form method="get">
        <div class="form-group form-inline">
            <input type="text" class="form-control" placeholder=@Localizer["Search"] value="@Model.Search.Value" name="searchValue" />
            <select multiple data-role="tagsinput" placeholder=@Localizer["Tags"] name="tags">
                @foreach (var tag in Model.Search.Tags)
                {
                    <option value="@tag">@tag</option>
                }
            </select>
            <button type="submit" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </div>
        <div>
            @Html.CheckBox("searchInTitle", @Model.Search.InTitle)
            <label>@Localizer["Search in title"]</label>
        </div>
        <div>
            @Html.CheckBox("searchInContent", @Model.Search.InTitle)
            <label>@Localizer["Search in content"]</label>
        </div>       
    </form>
    <hr/>
    @{ await Html.RenderPartialAsync("_RenderPosts", @Model.Posts);}
    <center>
        <page-link pagination="@Model.Pagination" page-action="Index" 
                   page-url-searchValue="@Model.Search.Value"
                   page-url-searchInTitle ="@Model.Search.InTitle"
                   page-url-searchInContent ="@Model.Search.InContent"
                   page-url-tags="@Model.Search.Tags"></page-link>
    </center>
</div>