﻿@model Catumblr.BLL.DTO.CommentDto

@if (User.Identity.IsAuthenticated)
{
    <form asp-action="Add" asp-controller="Comment" asp-route-postId="@ViewBag.PostId">
        <div class="form-group">
            <input id="Text" asp-for="Text" type="text" class="form-control"/>
            <input id="PostId" type="hidden" asp-for="PostId" value="@ViewBag.PostId"/>
        </div>
        <button class="btn col-md-offset-11" type="submit" id="addCommentButton">Comment</button>
    </form>
}

<script src="~/js/comment.js"></script>
<script src="~/js/dateformat.js"></script>