﻿@using Catumblr.BLL.DTO
@model IEnumerable<Catumblr.DAL.Models.Comment>

<div class="container-fluid">
    <div>
        <h3><small id="commentCount" class="pull-right">@Model.Count() comments</small> Comments </h3>
    </div> 
    <div class="comments-list" id="commentList">
        @{ await Html.RenderPartialAsync("~/Views/Comment/_Add.cshtml", new CommentDto());}
        <div id="firstComment"></div>
        @foreach (var comment in Model)
        {
            <div class="media">
                <h5><small class="pull-right">@comment.Time</small></h5>
                <div class="media-body">
                    <h5 class="media-heading user_name">@comment.UserName</h5>
                    @comment.Text
                </div>
            </div>
        }
    </div>
</div>
