﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

footer {
    position: fixed;
    bottom: 0;
}

.container-flex {
    display: flex;
}

.user_name{
    font-size:14px;
    font-weight: bold;
}

.comments-list .media{
    border-bottom: 1px dotted #ccc;
}
