﻿@model Catumblr.Models.ViewModels.BlogPostsViewModel
@{
    ViewBag.Title = @Model.BlogTitle;
}
<div class="col-md-2"></div>
<div class="col-md-8">
    <h1>@Model.BlogTitle</h1>
    <hr />
    @{ await Html.RenderPartialAsync("_RenderPosts", @Model.Posts);}
    <center>
        <page-link pagination="@Model.Pagination" page-action="BlogPosts"
                   page-url-blogId="@Model.BlogId"
                   page-url-blogTitle="@Model.BlogTitle"></page-link>
    </center>
</div>
