﻿@using Catumblr.DAL.Models
@model Catumblr.BLL.DTO.PostDto
@{
    ViewBag.Title = "Create";
}
<div class="col-md-8 col-md-offset-2">
    <form asp-action="Create" asp-controller="Post">
        <div class="form-group col-md-2">
            <select asp-for="BlogId" class="form-control">
                @foreach (var blog in (IEnumerable<Blog>)ViewBag.Blogs)
                {
                    <option value=@blog.Id>@blog.Title</option>
                }
            </select>
        </div>
        <div class="form-group">
            <input asp-for="Title" type="text" class="form-control" placeholder="Title" />
        </div>
        <div class="form-group">
            <textarea asp-for="Content" type="text" class="form-control" rows="20"></textarea>
        </div>
        <div class="form-group">
            <select multiple data-role="tagsinput" placeholder="Tags" asp-for="Tags"></select>
        </div>
        <button class="btn col-md-offset-11" type="submit">Create</button>
    </form>
</div>
