﻿@model Catumblr.BLL.DTO.PostDto
@{
    ViewBag.Title = "Edit";
}
<div class="col-md-8 col-md-offset-2">
    <form asp-action="Edit" asp-controller="Post">
        <div class="form-group">
            <input asp-for="Title" type="text" class="form-control" placeholder="Title" />
        </div>
        <div class="form-group">
            <textarea asp-for="Content" type="text" class="form-control" rows="20"></textarea>
        </div>
        <div class="form-group">
            <select multiple data-role="tagsinput" placeholder="Tags" name="tags">
                @foreach (var tag in Model.Tags)
                {
                    <option value="@tag.Name"></option>
                }
            </select>
        </div>
        <input type="hidden" asp-for="Id"/>
        <button class="btn col-md-offset-11" type="submit">Edit</button>
    </form>
</div>