﻿@model Catumblr.Models.ViewModels.PostViewModel
@{
    ViewBag.Title = @Model.Title;
    ViewBag.PostId = @Model.PostId;
}
<div class="col-md-8 col-md-offset-2">
    <div class="container-fluid">
        <div class="col-md-10">
            <h1>@Model.Title</h1>
        </div>
        @if (Model.HasRightEditOrDelete)
        {
            <div class="col-md-2">
                <a class="btn" asp-action="Edit" asp-route-id=@Model.PostId>
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                <a class="btn" asp-action="Delete" asp-route-id=@Model.PostId
                   onclick="return confirm('Are you sure you want to delete this?')">
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
            </div>
        }
    </div>        
    <hr/>
    <h4>@Model.Post.Content</h4>
    @if (Model.HasTags)
    {
        <div class="container-flex">
            @foreach (var tag in Model.Tags)
            {
                <h4><small>#@tag.Name &nbsp</small></h4>
            }
        </div>
    }
    <hr/>
    <div class="container-fluid">
        @{await Html.RenderPartialAsync("_Likes", @Model); }
        <div class="col-md-11">
            <h5><small class="pull-right">@Model.Post.Time</small></h5>
        </div>
    </div>
    @{ await Html.RenderPartialAsync("~/Views/Comment/_RenderComments.cshtml", @Model.Comments);}
</div>