﻿@model Catumblr.BLL.DTO.BlogDto
@{
    ViewBag.Title = "Create";
}
<h2>Blog</h2>
<hr />
<div class="col-md-2"></div>
<div class="col-md-8">
    <form method="post" asp-action="Create">
        <div class="validation-summary-errors" asp-validation-summary="All"></div>
        <div class="form-group row">
            <label for="title" class="col-md-2" asp-for="Title">Title</label>
            <div class="col-md-6">
                <input type="text" class="form-control" id="title" placeholder="Title" asp-for="Title">
                <span asp-validation-for="Title"></span>
            </div>
        </div>
        <button class="btn" type="submit">Create</button>
    </form>
</div>
