﻿@model IEnumerable<Catumblr.DAL.Models.Blog>
@{
    ViewBag.Title = @User.Identity.Name;
}

@foreach (var blog in Model)
{
    <div class="col-md-4">
        <div class="jumbotron">
            <a asp-controller="Post" asp-action="BlogPosts" 
               asp-route-blogId="@blog.Id" 
               asp-route-blogTitle="@blog.Title" 
               asp-route-skipCount="0" 
               asp-route-takeCount="3">
                <h3>@blog.Title</h3>
            </a>
        </div>
    </div>
}
<div class="col-md-4">
    <div class="jumbotron">
        <a class="btn" asp-controller="Blog" asp-action="Create">
            <h4>Create blog</h4>
        </a>
    </div>
</div>