﻿@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityUser>
@{
    ViewBag.Title = "Index";
}
<div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Warning!</strong> @ViewBag.Message
</div>

<div class="list-group">
    @foreach (var user in Model)
    {
        <li class="list-group-item">@user.UserName</li>
    }
</div>