﻿@model Catumblr.Models.ViewModels.PostViewModel
<div class="col-md-1 container-flex">
    <h4 id="likeCount">@Model.GetLikesCount</h4>
    <a id="likeButton" class="btn glyphicon glyphicon-heart"></a>
</div>

@Html.HiddenFor(viewModel => viewModel.PostId)
@Html.HiddenFor(viewModel => viewModel.IsLiked)

<script src="~/js/like.js"></script>