﻿@model IEnumerable<Catumblr.DAL.Models.Post>
@foreach (var post in Model)
{
    <div class="jumbotron">
        <div class="container-fluid">
            <div class="col-md-10">
                <a asp-controller="Post" asp-action="GetPost" asp-route-id=@post.Id>
                    <h2>@post.Title</h2>
                </a>
            </div>
        </div>        
        <hr/>
        <h3>@post.Content</h3>
    </div>
}