﻿@model Catumblr.Models.ViewModels.PostViewModel
<div class="col-md-1 container-flex">
    <h4>@Model.GetLikesCount</h4>
    <a class="btn glyphicon text-danger glyphicon-heart" asp-action="Unlike" asp-controller="Post" asp-route-postId=@Model.PostId></a>
</div>